*,
*::after,
*::before {
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}


body{
    background-color:indigo;
    text-align: center;
    font-family: sans-serif;
    min-height: 100vh;
}

div{
    width: 600px;
    position: absolute;
    top: 50%;
    left: 50%;
    background-color: rgb(197, 197, 197);
    transform: translate(-50%, -50%);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 1px 1px 20px #ee5253;
}

h2{
    border: 3px solid black;
    border-radius: 50%;
    font-size: 30px;
    background-color: rgb(15, 192, 219);
    font-weight: 600;
}

.text{
    text-align: left;
    margin-left: 150px;
}

#w, #h{
    border: 1px solid black;
    color: #222f3e;
    text-align: left;
    font-size: 20px;
    font-weight: 200;
    outline: none;
    background: none;
    border-bottom: 1px solid #ff0707;
    width: 200px;
    }

    #w:focus, #h:focus{
        border-bottom: 2px solid #000000;
        width: 300px;
        transition: 0.5s;
    }

    #result{
        color: indigo;
    }

    #btns{
        font-family: inherit;
        margin-top: 10px;
        border: none;
        color: rgb(255, 255, 255);
        background-color: black;
        width: 150px;
        padding: 10px;
        border-radius: 30px;
        outline: none;
        cursor: pointer;
    }

    #btns:hover{
        box-shadow: 1px 1px 10px #9d9ba8;
    }

    #infomation{
        font-size: 12px;
        font-family: inherit;
    }